thirdactivity/target/classes/thirdactivity.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:ftp="http://www.mulesoft.org/schema/mule/ee/ftp" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd">
    <http:listener-config name="HTTP_Listener_Configuration4" host="localhost" port="8082"  doc:name="HTTP Listener Configuration"/>
    <smtp:connector name="SMTP" contentType="text/plain" fromAddress="shitals79@gmail.com" replyToAddresses="shital.shewale@eaisystems.com" subject="mule msg...................................................!!!!!!!!!!!!!!" validateConnections="true" doc:name="SMTP"/>
    <smtp:connector name="SMTP1" validateConnections="true" doc:name="SMTP"/>
    <smtp:gmail-connector name="shital" validateConnections="true" doc:name="Gmail"/>
    <smtp:gmail-connector name="Gmail1" validateConnections="true" doc:name="Gmail"/>
    <smtp:gmail-connector name="Gmail" validateConnections="true" doc:name="Gmail"/>
    <flow name="thirdactivityFlow">
        <http:listener config-ref="HTTP_Listener_Configuration4" path="/" doc:name="HTTP"/>
        <set-variable variableName="username" value="#[message.inboundProperties.'http.query.params'.name]" doc:name="Variable"/>
        <set-variable variableName="age" value="#[message.inboundProperties.'http.query.params'.age]" doc:name="Variable"/>
        <set-payload value="#[flowVars.username  +flowVars.age  ]" doc:name="Set Payload"/>
        <file:outbound-endpoint path="D:\mulesoft" outputPattern="shitu.txt" responseTimeout="10000" doc:name="File"/>
        <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="eaitest19" password="eaisystems" connector-ref="shital" to="shitals79@gmail.com" from="shitals79@gmail.com" subject="test!!!!!account" responseTimeout="10000" doc:name="SMTP"/>
    </flow>
</mule>
